<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Speech</string>
	<key>CFBundlePackageType</key>
	<string>DISP</string>
	<key>CFBundleSignature</key>
	<string>GRRR</string>
	<key>CFBundleVersion</key>
	<string>GROWL_VERSION</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>GrowlPluginAuthor</key>
	<string>Ingmar Stein</string>
	<key>GrowlPluginDescription</key>
	<string>Speak notifications.</string>
	<key>GrowlPluginsFrameworkVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>GrowlSpeechDisplay</string>
</dict>
</plist>
